<h3>{{include.data.title}}</h3>
<div class='row' >
	{% if include.data.image %}
		<img
			src='{{include.data.image}}'
			align='right'
			style="max-width:250px;padding:10px;" />
	{% endif %}
	{{include.data.description|markdownify}}
</div>
<hr/>
<div class='row' >
	<div class='col-md-6 col-xs-12' >
		{% for group in include.data.groups %}
		<h3>{{group.title}}</h3>
		{% for practitioner in group.practitioners %}
		<a title='{{practitioner.title}}'
			onClick='return goto("/practitioners/{{practitioner.id}}")'
			href='#' data-id='{{practitioner.id}}' >
			{{practitioner.title}}
		</a>
		{% endfor %}
		{% endfor %}
		<hr/>
	</div>
	<div class='col-md-6 col-xs-12' >

	<!--
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">
	<link href=https://static.appointmentguru.co/appointmentguru-mobile/2.0.4/static/css/app.b233a592c976ae5408e3d54203c66f0c.css rel=stylesheet>


	<style>
	.container--fluid { margin-top: 65px; }
	/* styles to handle embedding the widget in another page */
	.embedded .container--fluid { margin-top: 0px; }
	.embedded .toolbar--fixed { position: relative; }
	.embedded .sidebar--close { display: none; }
	.embedded .sidebar--fixed { position: absolute; }
	.embedded .btn--floating { position: absolute !important; }
	#app a:hover { text-decoration: none; }
	</style>
	<div
		class='embedded'
		style='max-width:414px;max-height:736px;overflow: auto;border: 0px;box-shadow: 0 3px 9px rgba(0,0,0,.2),0 1px 1px rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)!important;' >
		<script>
		window.practitioners = [{{include.data.practitionerIds}}]
		</script>
		<div class='yui3-cssreset' id='app' ></div>
	</div>
	<script type=text/javascript src=https://static.appointmentguru.co/appointmentguru-mobile/2.0.4/static/js/manifest.55f59daae6395ad43470.js></script>
	<script type=text/javascript src=https://static.appointmentguru.co/appointmentguru-mobile/2.0.4/static/js/vendor.0f1a0862c243a07560fb.js></script>
	<script type=text/javascript src=https://static.appointmentguru.co/appointmentguru-mobile/2.0.4/static/js/app.d25dcb4d8e93973f1725.js></script>
	-->

	<iframe
		src='/widget.html/index.html#{{include.data.startPage}}?p={{include.data.practitionerIds}}'
		id='widget'
		style='border: 0px;box-shadow: 0 1px 3px rgba(0,0,0,.2),0 1px 1px rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)!important;'
		width='100%' scrolling='no'
		height='736px' >
	</iframe>


	</div>
</div>
<script>
function goto(path) {
	var baseUrl = "https://static.appointmentguru.co/appointmentguru-mobile/{{site.data.groups.widgetVersion}}/index.html#";
	var filters = '?p={{include.data.practitionerIds}}'
	var url = baseUrl + path + filters;
	document.getElementById('widget').src=url;
	return false
}
</script>