<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">AppointmentGuru</li>
    <li >
      <a href="/">Home</a>
    </li>
    <li >
      <a href="/#product">Features</a>
    </li>
    <li >
      <a href="/#pricing">Pricing</a>
    </li>
    <li >
      <a data-toggle="modal" data-target=".get-started-modal" >
        {{site.data.website.homepage.primarycta}}</a>
    </li>
    <li class="nav-header">Existing customers</li>
    <li>
    <a href='http://portal.appointmentguru.co' title='AppointmentGuru MyPractice' >Login</a>
    </li>
  </ul>
</div>
