<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">AppointmentGuru</li>
    <li >
      <a href="/" data-target="#stage" data-toggle="stage" data-distance="0" >Home</a>
    </li>
    <li >
      <a href="/#product" data-target="#stage" data-toggle="stage" data-distance="0" >Features</a>
    </li>
    <li >
      <a href="/#pricing" data-target="#stage" data-toggle="stage" data-distance="0" >Pricing</a>
    </li>
    <li data-target="#stage" data-toggle="stage" data-distance="0" >
      <a data-toggle="modal" data-target=".get-started-modal" >
        {{site.data.website.homepage.primarycta}}</a>
    </li>
    <li class="nav-header">Existing customers</li>
    <li>
    <a href='http://app.appointmentguru.co' title='AppointmentGuru MyPractice' >Login</a>
    </li>
  </ul>
</div>
