<nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style='margin-top:-20px;' href="/">
        <img class='hidden-xs' style='margin-top:-20px;' src='assets/img/guru/appointment-logo.png' alt='{{site.data.website.homepage.title}}' />
      </a>
    </div>
    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a href="#product">Features</a>
        </li>
        <li >
          <a href="#pricing">Pricing</a>
        </li>
        <li >
          <a href='http://portal.appointmentguru.co'
            title='AppointmentGuru MyPractice'
            class='btn btn-success' >Login</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>