<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        {% for feature in include.features.left %}
        <li class="m-b-md">
          <div class="featured-list-icon brand hidden-xs">
            <span class="icon icon-{{feature.icon}} brand"></span>
          </div>
          <h3 class=''>{{feature.title}}</h3>
          <p>{{feature.description}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        {% for feature in include.features.right %}
        <li class="m-b-md">
          <div class="featured-list-icon hidden-xs brand hidden-xs">
            <span class="icon icon-{{feature.icon}} brand"></span>
          </div>

          <h3 class='' >{{feature.title}}</h3>
          <p>{{feature.description}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>