<div class="block {% if feature.background == 'dark' %}block-inverse{% endif %} block-secondary app-feature-block">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-9 col-xs-12 text-center {% if feature.picture == 'right' %}col-sm-push-6{% else %}{% endif %}">
        <center>
          <img
            src='{{include.feature.picture_url}}'
            class="img-responsive" />
        </center>
      </div>
      <div class="col-sm-5 col-xs-12 {% if feature.picture == 'right' %}col-sm-pull-7{% else %}{% endif %}">
        <h6 class="text-muted text-uppercase">{{include.feature.summary}}</h6>
        <h3 class="m-t-0 brand">{{include.feature.title}}</h3>
        <p class="lead m-b-md">{{include.feature.description}}</p>
        <!-- <button class="btn btn-default btn-lg btn-borderless">
          Read our docs
        </button> -->
      </div>
    </div>
  </div>
</div>