<div class="block block-inverse app-footer border-brand-top">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">{{include.footer.about.title}}</h6></li>
          <li class="text-muted">
           {{include.footer.about.description}}
          </li>
        </ul>

        <div>
          <ul class="list-unstyled list-spaced">
            <li>
              <h6 class="text-uppercase">Mobile app for clients</h6>
            </li>
            <li class="text-muted">
             Clients of AppointmentGuru practitioners can book and manage their appointments from our mobile app.
            </li>
          </ul>
          <div class="row">
            <div class="col-sm-5 m-b-md">
              <a class="app-link" id="appleLink" href="https://itunes.apple.com/us/app/appointment-guru/id1163805838?mt=8">
                <img class="app-icon img-responsive" src="https://getapp.guru/template/badgeappstore.png">
              </a>
            </div>
            <div class="col-sm-5 m-b-md">
              <a class="app-link" id="googleLink" href="https://play.google.com/store/apps/details?id=za.co.AppointmentGuru&amp;utm_source=getapp.guru&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img class="app-icon img-responsive" src="https://getapp.guru/template/badgegoogleplay.png">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">{{include.footer.col1.title}}</h6></li>

          {% for link in include.footer.col1.links %}
          <li class="text-muted"><a href='{{link.href}}' >{{link.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">{{include.footer.col2.title}}</h6></li>
          {% for link in include.footer.col2.links %}
          <li class="text-muted"><a href='{{link.href}}' >{{link.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">{{include.footer.col3.title}}</h6></li>

          {% for link in include.footer.col3.links %}
          <li class="text-muted"><a href='{{link.href}}' >{{link.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% include blocks/google-analytics.html %}
