<div class="block-secondary major-feature-block">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 col-xs-12 hidden-xs">
        <img class="app-iphone" src="{{include.data.image}}" style="width: 100%;">
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">{{include.data.titleSummary}}</h6>
        <h3 style='margin-bottom: 40px;font-size:40px;' class="m-t-0">{{include.data.title}}</h3>
        <!-- <p class="lead m-b-md">{{include.data.description}}</p> -->
        <div class="row hidden-sm" style='font-size: larger;'>
          {% for feature in include.data.features %}
          <div class="col-sm-6 m-b-md">
            <h5 class="m-y-0" style="font-size: 20px; margin-bottom: 20px !important;">{{feature.title}}</h5>
            <p>{{feature.description}}
            <!--<a href="#" class="text-primary">Learn more.</a>--></p>
          </div>
          {% endfor %}
        </div>
        <div class='row'>
          <div class='text-center'>
            <button
              data-toggle="modal" data-target=".get-started-modal"
              class='btn btn-lg btn-success' style='font-size:25px;' >
            {{site.data.website.homepage.primarycta}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
