<!DOCTYPE html>
<html lang="en">
<head>
  {% include blocks/head.html %}
</head>
<body>
{% include mobilenav.html %}

<div class="stage" id="stage">
  <div class="block app-header" >
    {% include nav.html %}
  </div>
  {{ content }}
</div>

    <div
      class="modal fade get-started-modal"
      tabindex="-1" role="dialog"
      aria-labelledby="Get started" >

      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div id="appointmentguruonboarder">
          </div>
        </div>
      </div>
    </div>
{% for file in site.data.website.homepage.signup.js %}
<script type="text/javascript" src="//static.appointmentguru.co/onboardguru/latest/static/js/{{file}}" ></script>
{% endfor %}

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/toolkit.js"></script>
    <script src="/assets/js/application.js"></script>
  </body>
</html>



